body{
    font-family: 'Open Sans', sans-serif;
  }
  
/* nar bar */
.navigation{
    color: #000;
    padding-right: 60px;
}

.logo{
  font-size: 30px;
  margin-left: 6%;
  
}

.nav-link{
  font-size: 20px;
}
nav ul li {
    padding-left: 20px;
}

nav ul li :hover{
    color: gray;
}

/* video    */

#video{
    text-align: center;
    margin: 4%;
}

.video-card a:link, a:visited{
    color: black;
    text-decoration: none;
}

.video-card :hover{
    text-decoration: none;
    color: grey;
}

.video-card p{
    color: gray;
}

.video-image{
    height: 200px;
    width: 300px;
}

.usercase-card{
    padding: 1%;
    margin: 10px auto 10px auto;
    width: 70%;
    text-align: left;
    line-height: 1.5;
}

.userimge-left{
    width: 100px;
    border-radius: 100%;
    float: left;
    margin-right: 30px;
}

.userimge-right{
    width: 100px;
    border-radius: 100%;
    float: right;
    margin-left: 30px;
}

.user-text{
    text-align: start;
}

.user-info{
    text-align: end; 
    font-size: 13px; 
    color: grey; 
    padding-right: 20px;
}

#gallery{
    padding: 3% 4%;
}
/* 
.person-image-size{
    max-width: 60%;
    max-height: 60%;
} */

.report{
    margin: 3% 7%; 
    padding: 2% 5% 2% 5%;
    border-style: solid;
    border-radius: 20px;
    border-color:#DCDCDC;
    border-width: 2px;
}

.title-text{
    font-family: 'Crimson Text', serif;
    padding-left: 1%;
    padding-bottom: 1%;
    font-size: 30px;
}